<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<location path="." inheritInChildApplications="false">
		<system.webServer>

			<urlCompression
			  doStaticCompression="true"
			  doDynamicCompression="true"
			  dynamicCompressionBeforeCache="true" />

			<staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />

				<remove fileExtension=".webp" />
				<mimeMap fileExtension=".webp" mimeType="image/webp" />

				<remove fileExtension=".woff" />
				<mimeMap fileExtension=".woff" mimeType="font/woff" />
				<remove fileExtension=".woff2" />
				<mimeMap fileExtension=".woff2" mimeType="font/woff2" />

				<remove fileExtension=".json" />
				<mimeMap fileExtension=".json" mimeType="application/json" />
				<remove fileExtension=".map" />
				<mimeMap fileExtension=".map" mimeType="application/json" />
			</staticContent>

			<httpProtocol>
				<customHeaders>
					<add name="X-Content-Type-Options" value="nosniff" />
					<add name="X-Frame-Options" value="DENY" />
					<add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
					<add name="Permissions-Policy" value="geolocation=(), microphone=(), camera=()" />

					<add name="Cache-Control" value="public, max-age=31536000" />
				</customHeaders>
			</httpProtocol>

			<applicationInitialization
			  remapManagedRequestsTo="index.html"
			  skipManagedModules="true"
			  doAppInitAfterRestart="true">
				<add initializationPage="/" />
			</applicationInitialization>

			<handlers>
				<remove name="WebDAV" />
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<aspNetCore
			  processPath="dotnet"
			  arguments=".\TtTech.dll"
			  stdoutLogEnabled="false"
			  stdoutLogFile=".\logs\stdout"
			  hostingModel="inprocess"
			  requestTimeout="00:02:00"
			  shutdownTimeLimit="10"
			  startupTimeLimit="120" />

			<httpErrors existingResponse="PassThrough" />

		</system.webServer>
	</location>

</configuration>